In [1]:
import pandas as pd
import copy

from sklearn.model_selection import train_test_split

In [2]:
# specify data_name 
data_name = 'dataR2.csv'

# specify split_size_list
split_size_list = [0.1,0.2,0.3,0.4,0.5]

# specify random_state
random_state = 66

In [3]:
# get df_data
df_data=pd.read_csv(os.path.join(os.getcwd(),data_name))
df_data.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [4]:
# specify predictors and criterion
predictors = ["Age", "BMI", "Glucose", "Insulin", "HOMA", "Leptin", "Adiponectin", "Resistin", "MCP.1"]
criterion = ["Classification"]

In [5]:
x, y = df_data[predictors], df_data[criterion]

In [6]:
x.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920

In [7]:
y.head()

   Classification
0               1
1               1
2               1
3               1
4               1

In [8]:
# split
for split_size in split_size_list:
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=split_size, random_state=random_state)
    df_train = copy.deepcopy(x_train)
    df_train[criterion[:]] = y_train
    df_train.to_csv('train_'+str(split_size)+'_'+data_name,index=False)
    df_test = copy.deepcopy(x_test)
    df_test[criterion[:]] = y_test
    df_test.to_csv('test_'+str(split_size)+'_'+data_name,index=False)
print('Done!')

Done!